
/*GLOBAL*/
a{
	font-style: none;
	list-style-type: none;
	text-decoration: none;
}
button{
	background-color: transparent;
	border: rgba(0,0,0, 0.4);
}

.block{
	display: inline-block;
}
/*Backgrounds*/

.header{
	background-color: #106859;
	height: 10em;
	width:100%;
}
.contenedorContactos{
position: relative;
height: 400px;
}
#contenedorChat
{
	background-image: url("../image/chat-panel-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 400px;
	position: relative;
}

.bg-gray{
	background-color: #E1E5DA !important;
}
.bg-white{
	background-color: white;
}
.bg-black{
	background-color: black;
}
.bg-green{
	background-color: #DCF6C4 ;
}
/*Border*/
.brd-gray{
	border: 1px gray solid;
}
.redondeo{
	border-radius: 5px;
}
/*TEXT*/
.icono {
	font-size:  2em;
}
.txt-gray{
	color: gray;
}
.txt-cian{
	color: 
}
.txt-magenta{
	color: 
}
.txt-turque{
	color: 
}
.txt-brown{
	color: 
}

/*images*/
.w100{
	width: 100%;
}
.w-25{
	width: 16%;
}
.w-60{
	width: 60%;
}
.w-10{
	width: 10%;
}
/*Margin*/
.mg-1{
	margin: 1%;
}
.mt-5{
	margin-top: -5%;
}
.mg-0{
	margin: 0%;
}
/*padding*/
.pt-2{
	padding-top: 2%;
	}
.pb-2{
	padding-bottom: 2%;
}
.pd-2{
	padding: 2%;
}
.pd-5{
	padding: 5%;
}
.pt-5{
	padding-top: 5%;
}
.pt-25{
	padding-top: 25%;
}
.pl-20{
	padding-left: 20%;
}
.pr-20{
	padding-right: 20%;
}





/*/////////////////////////////////////////////////////*/
